<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
	<Property name="basePath">./logs</Property>
	</Properties>
  	<Appenders>
  		<RollingFile name="file" filename="${basePath}/prints.log" filePattern="${basePath}/prints-${date:yyyy-MM-dd}-%i.log">
  		<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
  		<Policies>
    		<SizeBasedTriggeringPolicy size="500" />
    	</Policies>
  		</RollingFile>
	    <Console name="Console" target="SYSTEM_OUT">
	      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	    </Console>
	</Appenders>
	<Loggers>
	  <Root level="trace">
	    <AppenderRef ref="file"/>
	  </Root>
	</Loggers>
</Configuration>